{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ super() }}{% endblock %}
{% block content %}
<header>
    <h1>{{ article.title }}</h1>
    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
</header>
<article>
    {{ article.content }}
	{% if article.tags %}
	  {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
	  - Posted in the <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a> category
	{% endif %}
	{% include 'comments.html' %}
</article>
{% endblock %}
